@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.starter {
  padding: 20px;

  td:first-child {
    min-width: 300px;
  }
  td {
    padding-left: 6px;
  }

  label {
    min-width: 200px;
  }
  input {
    padding: 5px;
  }
}
