<a href="index.html" class="flex items-center active-nav-link text-white py-4 pl-6 nav-item">
  <i class="fas fa-tachometer-alt mr-3"></i>
  Dashboard
</a>
<%= link_to admin_users_path, class: "flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item" do %>
  <i class="fas fa-sticky-note mr-3"></i>
  User
<% end %>
<a href="tables.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
  <i class="fas fa-table mr-3"></i>
  Tables
</a>
<a href="forms.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
  <i class="fas fa-align-left mr-3"></i>
  Forms
</a>
<a href="tabs.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
  <i class="fas fa-tablet-alt mr-3"></i>
  Tabbed Content
</a>
<a href="calendar.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
  <i class="fas fa-calendar mr-3"></i>
  Calendar
</a>
</nav>
<a href="#" class="absolute w-full upgrade-btn bottom-0 active-nav-link text-white flex items-center justify-center py-4">
  <i class="fas fa-arrow-circle-up mr-3"></i>
  Upgrade to Pro!
</a>

